<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <select id="selectUser" resultType="entity.User" parameterType="string">
        select * from k_user where email = #{email}
    </select>
    <insert id="insertUser" parameterType="entity.User">
      insert into k_user (name, telephone, password, email, address) values(
      #{name, jdbcType=VARCHAR, mode=IN},
      #{telephone, jdbcType=VARCHAR, mode=IN},
      #{password, jdbcType=VARCHAR, mode=IN},
      #{email, jdbcType=VARCHAR, mode=IN},
      #{address, jdbcType=VARCHAR, mode=IN}
      )
    </insert>
<!--    <insert id="insertUser"  parameterType="entity.User">
        select INSERTUSER(
          #{name, jdbcType=VARCHAR, mode=IN},
          #{surname, jdbcType=VARCHAR, mode=IN},
          #{password, jdbcType=VARCHAR, mode=IN},
          #{email, jdbcType=VARCHAR, mode=IN}
        ) from dual
    </insert>-->

    <select id="getBuyerAmount" resultType="integer">
        select TOTALUSERS from dual
    </select>

    <select id="singIn" resultType="integer" parameterType="entity.User">
        select SIGNIN(#{email}, #{password}) from dual
    </select>

</mapper>