<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodMapper">
    
    <resultMap id="goods" type="entity.Goods">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="price" property="price"/>
        <result column="foto_dir" property="foto_dir"/>
        <result column="producer" property="producer"/>
        <result column="color" property="color"/>
        <result column="volume" property="volume"/>
        <result column="create_time" property="create_time"/>
        <association column="category" property="category" javaType="entity.Category" select="getCategoryById"/>
        <association column="section" property="section" javaType="entity.Section" select="getSectionById"/>
    </resultMap>

    <select id="selectGoods" resultMap="goods" statementType="CALLABLE">
       select * from k_goods
    </select>
    <select id="selectGoodsById" resultMap="goods" parameterType="long" statementType="CALLABLE">
        select * from k_goods where id = #{id}
    </select>
    <insert id="insertGood" parameterType="entity.Goods">
      insert into k_goods (name, description, price, category, section, foto_dir, producer, color, volume, image) values(
      #{name, jdbcType=VARCHAR, mode=IN},
      #{description, jdbcType=VARCHAR, mode=IN},
      #{price, jdbcType=INTEGER, mode=IN},
      #{category.id, jdbcType=INTEGER, mode=IN},
      #{section.id, jdbcType=INTEGER, mode=IN},
      #{foto_dir, jdbcType=VARCHAR, mode=IN},
      #{producer, jdbcType=VARCHAR, mode=IN},
      #{color, jdbcType=VARCHAR, mode=IN},
      #{volume, jdbcType=VARCHAR, mode=IN},
      #{image, jdbcType=BLOB, mode=IN}
      )
    </insert>

    <delete id="deleteGood" parameterType="long">
        delete from k_goods where id = #{good_id}
    </delete>
    <delete id="deleteOrderGood" parameterType="long">
        delete from order_good where goods = #{good_id}
    </delete>

    <update id="updateGood" parameterType="entity.Goods">
        update k_goods set
          name = #{name},
          description = #{description},
          price = #{price},
          category = #{category.id},
          section = #{section.id},
          foto_dir = #{foto_dir},
          producer = #{producer},
          color = #{color},
          volume = #{volume},
          image = #{image}
          where id = #{id}
    </update>

    <select id="getCategoryById" resultType="entity.Category" parameterType="long">
        select * from k_category where id = #{id}
    </select>

    <select id="getSectionById" resultType="entity.Section" parameterType="long">
        select * from k_section where id = #{id}
    </select>

    <insert id="saveImage" parameterType="entity.K_Image">
      insert into k_image (image, path) values (
        #{image, jdbcType=BLOB, mode=IN},
        #{path, jdbcType=VARCHAR, mode=IN}
      )
    </insert>

    <select id="getImage" resultType="entity.K_Image">
        select * from k_image where ROWNUM &lt;= 1
    </select>

    <select id="getGoodsBySection" resultMap="goods" parameterType="long">
        select * from k_goods where section = #{section_id} order by create_time desc
    </select>

    <select id="getGoodsByCategory" resultMap="goods" parameterType="long">
        select * from k_goods where category = #{category_id} order by create_time desc
    </select>

</mapper>