<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>controller.Login</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
  <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
  </servlet>    

  <servlet>
      <servlet-name>AllGoods</servlet-name>
      <servlet-class>controller.admin.good.select.All</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AllGoods</servlet-name>
      <url-pattern>/admin/goods/all</url-pattern>
  </servlet-mapping>

    <servlet>
      <servlet-name>add_good</servlet-name>
      <servlet-class>controller.admin.good.Add</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>add_good</servlet-name>
        <url-pattern>/admin/good/add</url-pattern>
    </servlet-mapping>

  <servlet>
      <servlet-name>Remove_good</servlet-name>
      <servlet-class>controller.admin.good.Delete</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Update_good</servlet-name>
      <servlet-class>controller.admin.good.update.Update</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Save_updated_good</servlet-name>
      <servlet-class>controller.admin.good.update.Save</servlet-class>
  </servlet>
  
  <servlet>
      <servlet-name>All_Goods_For_User</servlet-name>
      <servlet-class>controller.user.Cabinet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>Good_User</servlet-name>
        <servlet-class>controller.user.Good</servlet-class>
    </servlet>


    <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
      <servlet-name>Registration</servlet-name>
      <url-pattern>/Registration</url-pattern>
  </servlet-mapping>  
    
  <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/Logout</url-pattern>
  </servlet-mapping>  
    
    <servlet-mapping>
      <servlet-name>Remove_good</servlet-name>
      <url-pattern>/admin/good/delete</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Update_good</servlet-name>
      <url-pattern>/admin/good/update/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Save_updated_good</servlet-name>
      <url-pattern>/admin/good/update/save</url-pattern>
  </servlet-mapping>  
    
  <servlet-mapping>
      <servlet-name>All_Goods_For_User</servlet-name>
      <url-pattern>/buyer</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Good_User</servlet-name>
        <url-pattern>/buyer/good</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGood</servlet-name>
        <servlet-class>controller.admin.good.select.One</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGood</servlet-name>
        <url-pattern>/good/get</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetGoodBefore</servlet-name>
        <servlet-class>controller.order.before.Get</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodBefore</servlet-name>
        <url-pattern>/order/before/get</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>controller.order.after.Save</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/order/save</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SetGoodtoBucket</servlet-name>
        <servlet-class>controller.order.before.Set</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetGoodtoBucket</servlet-name>
        <url-pattern>/order/before/set/bucket</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteFromBucket</servlet-name>
        <servlet-class>controller.order.before.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFromBucket</servlet-name>
        <url-pattern>/order/before/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>controller.Gallery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>controller.user.OrderDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/order/details</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminCabinet</servlet-name>
        <servlet-class>controller.admin.AdminCabinet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCabinet</servlet-name>
        <url-pattern>/admin/cabinet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderDetails2</servlet-name>
        <servlet-class>controller.admin.OrderDetails2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetails2</servlet-name>
        <url-pattern>/admin/order/details</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SetCourier</servlet-name>
        <servlet-class>controller.admin.SetCourier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCourier</servlet-name>
        <url-pattern>/admin/order/set_courier</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SaveCourier</servlet-name>
        <servlet-class>controller.admin.SaveCourier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveCourier</servlet-name>
        <url-pattern>/admin/order/save_courier</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CourierCabinet</servlet-name>
        <servlet-class>controller.courier.CourierCabinet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourierCabinet</servlet-name>
        <url-pattern>/courier/cabinet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourierSetDelivered</servlet-name>
        <servlet-class>controller.courier.SetDelivered</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourierSetDelivered</servlet-name>
        <url-pattern>/courier/set_delivered</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoodSection</servlet-name>
        <servlet-class>controller.user.GoodSection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodSection</servlet-name>
        <url-pattern>/goods/get/by</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGoodBySection</servlet-name>
        <servlet-class>controller.admin.good.select.GetGoodBySection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodBySection</servlet-name>
        <url-pattern>/admin/good/get</url-pattern>
    </servlet-mapping>
</web-app>
